<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FoodWheels</title>
    <link rel="stylesheet" href="../static/style_buy.css">

</head>
<body>

    <div class="store-selection">
        <h1>ОБЕРІТЬ МАГАЗИН</h1>
    </div>
    <div class="store">
        <a href="McDonals.html">
            <img src="../static/Logo/McDonalds-logo.png" alt="McDonald's" height="22%" width="22%" >
        </a>
        <a href="KFC.html">
            <img src="../static/Logo/Kfc_logo.png" alt="KFC" height="22%" width="22%" >
        </a>
        <a href="veterano_pizza.html">
            <img src="../static/Logo/pizza.veterano.dnipro-logo.png" alt="KFC" height="17%" width="17%" >
        </a>
    </div>
    

</body>
</html>